@using ShelbyBackEnd.Web.Models.ViewModels
@model CategoriesVM

<div class="form-floating py-2 col-12">
    <input asp-for="Category.display_order" class="form-control border shadow" />
    <label  class="ms-2">Display Order</label>

</div>