@using ShelbyBackEnd.Web.Models.ViewModels
@model CategoriesVM


<div class="form-floating py-2 col-12">
    <textarea asp-for="Category.category_desc" class="form-control w-100 h-25 " rows="5"></textarea>
    <label class="ms-2">Category Description</label>

</div>

<div class="form-floating py-2 col-12">
    <textarea asp-for="Category.category_short_desc" class="form-control w-100 h-25 " rows="5"></textarea>
    <label asp-for="Category.category_short_desc" class="ms-2">Category Description Short </label>

</div>

<div class="form-floating py-2 col-12">
    <textarea asp-for="Category.category_secondary_desc" class="form-control w-100 h-25 " rows="5"></textarea>
    <label asp-for="Category.category_secondary_desc" class="ms-2">Secondary Description (Below Products)</label>

</div>