@using ShelbyBackEnd.Web.Models.ViewModels
@model CategoriesVM


<div class="form-floating py-2 col-12">
    <input asp-for="Category.category_desc" class="form-control border shadow" />
    <label asp-for="Category.category_desc" class="ms-2"></label>

</div>