
@model CategoriesVM



<div class="form-floating py-2 col-12">
    <input asp-for="Category.alt_url_target" class="form-control border shadow" />
    <label  class="ms-2">Alternate URL</label>

</div>