
@model ProductsVM

<div class="p-3">
              
    <div class="form-floating py-2 col-12">
        <input asp-for="Product.product_name" class="form-control border shadow"/>
        <label asp-for="Product.product_name" class="ms-2 fw-bold"> product_name</label>
        <span asp-validation-for="Product.product_name" class="text-danger"></span>
    </div>

    <div class="form-floating py-2 col-12">
        <input asp-for="Product.product_code" class="form-control border shadow" />
        <label asp-for="Product.product_code" class="ms-2 fw-bold"> product_code</label>
        <span asp-validation-for="Product.product_code" class="text-danger"></span>
    </div>

    <div class="form-floating py-2 col-12">
        <input asp-for="Product.product_price" class="form-control border shadow" />
        <label asp-for="Product.product_price" class="ms-2 fw-bold"> product_price</label>
        <span asp-validation-for="Product.product_price" class="text-danger"></span>
    </div>
    <div class="form-floating py-2 col-12">
        <input asp-for="Product.product_weight" class="form-control border shadow" />
        <label asp-for="Product.product_weight" class="ms-2 fw-bold"> product_weight</label>
        <span asp-validation-for="Product.product_weight" class="text-danger"></span>
    </div>
    <div class="form-floating py-2 col-12">
        <input asp-for="Product.tab_product_desc" class="form-control border shadow" />
        <label asp-for="Product.tab_product_desc" class="ms-2 fw-bold"> tab_product_desc</label>
        <span asp-validation-for="Product.tab_product_desc" class="text-danger"></span>
    </div>

 </div>