@model ProductsVM



@* <div class="form-floating py-2 col-12">
    <input asp-for="Category.alt_url" class="form-control border shadow" />
    <label class="ms-2">Category URL</label>

</div>

<div class="form-floating py-2 col-12">
    <textarea asp-for="Category.meta_title" class="form-control w-100 h-20 " rows="5"></textarea>
    <label class="ms-2">Meta Tag Title</label>

</div>

<div class="form-floating py-2 col-12">
    <textarea asp-for="Category.meta_desc" class="form-control w-100 h-25 " rows="5"></textarea>
    <label class="ms-2"> Meta Tag Description</label>

</div>
<div class="form-floating py-2 col-12">
    <textarea asp-for="Category.meta_keywords" class="form-control w-100 h-25 " rows="5"></textarea>
    <label class="ms-2">Meta Tag Keywords</label>

</div> *@
