
@model ProductsVM

@section Scripts {
    <script>
            $('#dllpagesize').on('change', function() {
                
                  window.location.href ='/Products/Index?ps=' + $('#dllpagesize').val() + "&pt=" + $('#dllpageType').val();
                });

       
            $('#dllpageType').on('change', function() {
             var id = $(this).val();
           window.location.href ='/Products/Index?ps=' + $('#dllpagesize').val() + "&pt=" + $('#dllpageType').val();

           if(id==4){
            window.location.href ='/Products/ProductSearch?ps=' + $('#dllpagesize').val() + "&pt=" + $('#dllpageType').val();
           }

           
           if(id==5){
            window.location.href ='/Products/ManageProduct?ps=' + $('#dllpagesize').val() + "&pt=" + $('#dllpageType').val();
           }
        $(this).prop('selectedIndex', 0);

        });



               function setDelete(product_code, name) {
        document.getElementById("productIdToDelete").value = product_code;
        document.getElementById("producttxtToDelete").textContent  = "Are you sure you want to delete product - "+ name + "?";
        }
        function callDelete(id) {
        $.post('/Categories/DeleteCategories', { pc: product_code }, function() {
        document.getElementById("producttxtToDelete").textContent  =  "Successfully deleted"  ;
        document.getElementById("btnNO").textContent = "Close";
        document.getElementById("btnYES").hidden = true;
        }).fail(function() {
        });
        }
   
    </script>
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-white py-2">@Model.Title</h2>

            </div>
        </div>
    </div>

</div>



        <div class="float-start w-25">
    <select id="dllpageType" style="width: 250px;" class="form-select fw-bold">
        <option value="0" class="fw-bold">--Select  Product category--</option>
                <option value="1">Products</option>
                <option value="2">Low Inventory</option>
                <option value="3">Queued for PO</option>
                <option value="4">Search</option>
                <option value="5">Add</option>
            </select>

      </div>
<div class="d-flex justify-content-end">
            <select id="dllpagesize" asp-for="@Model.pagesize" style="width: 250px;" class="form-select">
                <option value="20">20 Per Page</option>
                <option value="50">50 Per Page</option>
                <option value="100">100 Per Page</option>
              
            </select>
        </div>
      

 
@if (Model.isProducts)
{
    <div id="divProduct">
        <partial name="_LoadProducts" model="Model" />
    </div>
}
@if (Model.isProductSearch)
{
    <div id="divProductSearch">
        <partial name="_LoadSearchProducts" model="Model" />
    </div>
}
@if (Model.isLIProducts)
{
    <div id="divProduct">
        <partial name="_LowInventoryProducts" model="Model" />
    </div>
}

<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <input type="hidden" id="productIdToDelete" />
            <div class="modal-header">
                <h4 class="modal-title">Delete product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label id="producttxtToDelete" />
            </div>
            <div class="modal-footer">
                <a id="btnYES" class="btn btn-danger mx-2" onclick="callDelete(productIdToDelete.value);">
                    Yes
                </a>
                <button id="btnNO" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.reload(); return false;">No</button>

            </div>

        </div>
    </div>
</div>

<script>

    function NoImg(i) {

          i.src = "../images/nophoto.gif";
      }
</script>